*{
    margin: 0;
    padding: 0;
    background-color: rgb(37, 37, 37);
    scroll-behaviour: smooth;
}
.container{
    height: 100%;
    width: 100%;
}
.RT-B{
    text-align: center;
    background-color: black;
    color: rgb(245, 233, 233);
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px 30%;
}
h2,h4{
    background-color: black;
}
aside,p{
    background-color: whitesmoke;
    margin: 5px 30%;
    border-radius: 5px;
}
img{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
p{
    color: rgb(140, 135, 135);
    margin-left: 7%;
    margin-top: 20px;
    font-size: 25px;
}
.Bio,h3,h5{
    color: rgb(176, 168, 168);
    background-color: black;
    margin: 5px 30%;
    text-align: justify;
    border-radius: 5px;
}
h3{
    font-size:200%;   
}
h5{
    font-size: 100%;
}
footer{
    color: whitesmoke;
    margin: 5px 39%;
}
